.about {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 241, 241);
    padding: 20px;
    margin: 0;
    border: 10px solid rgb(3, 3, 3);

  }
  
  .header {
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0a0a;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(207, 13, 13, 0.8);
    margin-bottom: 40px;
    
  }
  
  .about section {
    max-width: 960px;
    margin: 0 auto 40px;
    padding: 0 20px;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }
  
  .testimonials blockquote {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border-left: 4px solid #333;
    border-radius: 40px;
    background-color: #0f0f0f;
    color: #f7f6f6;
  }
  
  .cta {
    text-align: center;
    margin: 60px 0;

  }

  .history {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 241, 241);
    padding: 20px;
    margin: 0;
    border: 10px solid rgb(3, 3, 3);
    border-radius: 10px;
  }
  
  .milestoneList {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between  ; 
    margin: 0 -20px;
    padding: 0;
    list-style: none;

  }

  .milestoneList li {
    flex: 1 1 45%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 40px;
    border-style: groove;
    border: 5px solid #333;
    border-radius: 10px;
    background-color: #f7f6f6;
  }

.milestoneList li h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

.milestoneList li p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }

.milestoneList li:nth-child(odd) {
    background-color: #0f0f0f;
    color: #f7f6f6;
    border : 3px solid rgb(186, 26, 26);
    border-radius: 10px;
  }

.milestoneList li:nth-child(even) {
    background-color: #f8f4f4;
    color: #000000;
    border : 3px solid rgb(7, 91, 34);
    border-radius: 10px;
  }

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: #0f0f0f;
    color: #f7f6f6;
  }

.icon {
    font-size: 2rem;
    border-radius: 40px;

  }



.missionVision {
    font-family: Arial, sans-serif;
    color: rgb(217, 217, 217);
    background-color: rgb(10, 10, 10);
    padding: 20px;
    margin: 0;
    border: 10px solid rgb(129, 3, 3);
    border-radius: 10px;

  }

.readyToLearn {
   text-align: center;
    margin: 60px 0;
    text-shadow: rgb(227, 222, 223) 2px 2px 5px;


}

.readyToLearn p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }


.contactButton {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin: 60px 0;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: #f7f6f6;
    border : 3px solid rgb(186, 26, 26);
    border-radius: 40px;
  }











