.contactUsPage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
  }
  
  .heroSection {
    background-color: #1c1c1c;
    padding: 50px 0;
    text-align: center;
  }
  
  .heroTitle {
    color: #f0f0f0;
    font-size: 48px;
  }
  
  .contactContent {
    text-align: center;
    padding: 40px 0;
  }
  
  .contactOptions {
    text-align: center;
    padding: 40px 0;
    background-color: #f0f0f0;
  }
  
  .discordTelegram {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .socialLink {
    display: flex;
    align-items: center;
    color: #1c1c1c;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 24px;
  }
  
  .socialLink i {
    margin-right: 10px;
  }
  
  .contactFormWrapper {
    background-color: #f0f0f0;
    padding: 40px 0;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  textarea {
    resize: none;
  }
  
  .button {
    background-color: #1c1c1c;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #444
  }


  